.create-user-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--grey);
  background-color: white;

  h1 {
    margin-bottom: 20px;
    color: var(--deep-blue);
    text-align: center;
  }

  form {
    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        color: var(--dark-grey);
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--light-grey);
        border-radius: 3px;
        font-size: 16px;
        box-sizing: border-box;
      }
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: var(--deep-blue);
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--grey);
      }

      &:disabled {
        background-color: var(--light-grey);
        cursor: not-allowed;
      }
    }

    p {
      text-align: center;
      margin-top: 15px;

      .login-link {
        color: var(--deep-blue);
        text-decoration: underline;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
          color: var(--grey);
        }

        &:active {
          color: var(--dark-blue);
        }
      }
    }
  }
}
