<div class="user-data-container">
  <div class="text-container">
    <h1></h1>
  </div>
  <h2>Atualizar dados</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="name" [(ngModel)]="name" name="name" />

      <label for="phone">Phone</label>
      <input type="phone" [(ngModel)]="phone" name="phone" />

      <label for="photoUrl">Photo link</label>
      <input type="photoUrl" [(ngModel)]="photoUrl" name="photoUrl" />

      <label for="address">Address</label>
      <input type="address" [(ngModel)]="address" name="address" />
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
